[user]
	name = Aydin Aksel
	email = 154738769+aydinaksel@users.noreply.github.com
[core]
	editor = nvim
[init]
	defaultBranch = main
[color]
	ui = auto
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
